- const { sentenceCase } = require('sentence-case')

- let marked = require('marked'); 
- marked.setOptions({ xhtml:true })
- const renderer = new marked.Renderer();
- const linkRenderer = renderer.link;
- renderer.link = (href, title, text) => linkRenderer.call(renderer, href, title, text).replace(/^<a /, '<a target="_blank" ');
- marked.setOptions({ renderer });

- const $ = (row, i) => `${row}.v[${i}]`
- const $part = (row, i, p) => `${row}.v[${i}].split('|')[${p}]`
- const $s = state => `(item.state==${state})`
- const $ns = state => `(item.state!=${state})`
- const readonly = (v, row) => isEditableField(v) ? `(${row||'item'}.state!==${EDIT})` : 'true'
- let display = null

mixin baseBlock(v, row, fieldIndex)
    - const error = row+".errors["+fieldIndex+"]";
    if display === 'table'
        td(:class=`[{'rg-field_readonly':${readonly(v, row)}},{'rg-field_error':${error}}]`)
            block
            .rg-field__error {{!{error}}}  
    else 
        span(:class=`[{'rg-field_readonly':${readonly(v, row)}},{'rg-field_error':${error}}]`)
            block
            .rg-field__error {{!{error}}}  

mixin files(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-upload-wrapper(
            action=ctx.resolve(v.uploadUrl)
            accept=v.uploadAccept
            :limit=v.max
            title=v.placeholder
            v-model=$(row, fieldIndex)
            :disabled=readonly(v, row)
        )
        
mixin enum(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-select(
            placeholder=v.placeholder||''
            v-model=$(row, fieldIndex)
            default-first-option
            filterable            
            :disabled=readonly(v, row)
            remote=!!v.remote
            :remote-method=v.remote?`call_${v.remote.replace('.', '_')}`:false
        )
            if v.enumPairs
                each el in v.enumPairs
                    el-option(label=el[0] value=el[1] key=el[0])
            if v.remote
                //- todo :key не указывается так как ломается выбор с клавиатуры
                el-option(v-for=`item in ${v.remote.replace('.', '_')}_data` :label="item&&item.label||item" :value="item&&item.value||item")

mixin array(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-select(
            placeholder=v.placeholder||''
            v-model=$(row, fieldIndex)
            default-first-option
            multiple
            filterable
            allow-create=isExtendableArrayField(v)
            :disabled=readonly(v, row)
            remote=!!v.remote
            :remote-method=v.remote?`call_${v.remote.replace('.', '_')}`:false
        )
            if v.enumPairs
                each el in v.enumPairs
                    el-option(label=el[0] value=el[1] key=el[0])
            if v.remote
                //- todo :key не указывается так как ломается выбор с клавиатуры
                el-option(v-for=`item in ${v.remote.replace('.', '_')}_data` :label="item&&item.label||item" :value="item&&item.value||item")

mixin number(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-input-number(
            controls-position="right"
            :min=v.min
            :max=v.max
            :precision=v.integer?"0":false
            v-model=$(row, fieldIndex)
            :disabled=readonly(v, row)
        )

mixin input(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-input(
            placeholder=v.placeholder||''
            :clearable=v.readonly ? false : '!' + readonly(v, row)
            :minlength=v.min
            :maxlength=v.max
            v-model=$(row, fieldIndex)
            autosize
            :readonly=readonly(v, row)
        )

mixin wysiwyg(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        wysiwyg(v-model=$(row, fieldIndex) :class=`{'rg-wysiwyg_readonly':${readonly(v, row)}}`)

mixin code(v, row, fieldIndex, mode)
    +baseBlock(v, row, fieldIndex)
        tgmd(mode=mode v-model=$(row, fieldIndex) :readonly=readonly(v, row))

mixin mn(v, row, fieldIndex, mode, fullscreen)
    +baseBlock(v, row, fieldIndex)
        monaco(mode=mode fullscreen=fullscreen extraLib=v.extraLib v-model=$(row, fieldIndex) :readonly=readonly(v, row))

mixin boolean(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-checkbox(:disabled=readonly(v, row) v-model=$(row, fieldIndex))

mixin date(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        el-date-picker(            
            placeholder=v.placeholder||''
            type="datetime"
            v-model=$(row, fieldIndex)
            :readonly=readonly(v, row)
        )

mixin link(v, row, fieldIndex)
    +baseBlock(v, row, fieldIndex)
        if v.placeholder
            a(:href=$(row, fieldIndex) target="_blank")= v.placeholder
        else
            a(:href=$part(row, fieldIndex, 0) target="_blank") {{ !{$part(row, fieldIndex, 1)} }}

mixin component(v, i, row, fullscreen)
    - row = row || 'item'
    case v.type
        when 'string'
            +input(v, row, i)
        when 'array'
            +array(v, row, i)
        when 'files'
            +files(v, row, i)
        when 'date'
            +date(v, row, i)
        when 'number'
            +number(v, row, i)
        when 'enum'
            +enum(v, row, i)
        when 'boolean'
            +boolean(v, row, i)
        when 'wysiwyg'
            +wysiwyg(v, row, i)
        when 'md-tgclient'
            +code(v, row, i, 'md-tgclient')
        when 'md-tgbotlegacy'
            +code(v, row, i, 'md-tgbotlegacy')
        when 'regex'
            +code(v, row, i, 'regex')
        when 'javascript'
            +mn(v, row, i, 'javascript', fullscreen)
        when 'link'
            +link(v, row, i)
        default
            span Unsupported type

mixin controlls()
    if can.CHANGE || can.DELETE
        td.rg-data__small-cell
            el-button-group
                if can.CHANGE                       
                    keep-alive
                        if can.PATCH
                            el-button(
                                v-if=$s(NONE) 

                                @click="edit(item)" 
                                type="primary" 
                                icon="el-icon-edit"

                                :disabled=$s(REMOVE)

                                circle=can.DELETE
                                round=!can.DELETE
                            )                            
                        el-button(
                            v-if=$ns(NONE)

                            @click="save(item)" 
                            type="primary" 
                            icon="el-icon-check" 

                            :loading=$s(SAVE) 
                            :disabled=$s(REMOVE)

                            circle=can.DELETE
                            round=!can.DELETE
                        )
                if can.DELETE
                    el-button(
                        @click="remove(item, index)" 
                        type="danger" 
                        icon="el-icon-delete"

                        :disabled=$s(SAVE)
                        :loading=$s(REMOVE)

                        circle=can.CHANGE
                        round=!can.CHANGE
                    )