include mixins.pug

.rg-data_single(v-if="!!values[0]")
    - let i = 0;
    - let oneVisible = 1 === Object.keys(props).reduce((sum, k) => sum + isVisibleField(props[k]), 0)
    each v, key in props
        if isVisibleField(v)
            if oneVisible
                p !{v.description ? marked.inlineLexer(v.description, []) : sentenceCase(key)}
                +component(v, i, 'values[0]', oneVisible)
            else 
                div
                    p !{v.description ? marked.inlineLexer(v.description, []) : sentenceCase(key)}
                    +component(v, i, 'values[0]', oneVisible)
        - ++i
    if can.PATCH
        p 
            el-button(@click="save(values[0])" type="primary" round icon="el-icon-check" :loading="values[0].state=="+SAVE) Save