include mixins.pug

.rg-data(v-loading="!inited" ref="table")
    draggable(:options="draggableOptions" :noTransitionOnDrag="true" @update="sort" element="table")

        - const hasNormalFields = Object.values(props).some(isNormalField);
        - const hasFullWidth = Object.values(props).some(isFullwidthField);
        - const hasNormalRow = can.CHANGE || can.DELETE || hasNormalFields;

        - let i = 0
        if hasNormalRow && !hasFullWidth
            tbody
                tr.rg-draggable(v-for="(item, index) in values" :key="item["+findPrimaryIndex(props)+"]")        
                    - display = 'table'
                    each v in props
                        if isNormalField(v)
                            +component(v, i)
                        - ++i
                    +controlls()
        else
            tbody.rg-draggable(v-for="(item, index) in values" :key="item["+findPrimaryIndex(props)+"]") 
                if hasNormalRow
                    tr        
                        - display = 'table', i = 0
                        each v in props
                            if isNormalField(v)
                                +component(v, i)
                            - ++i
                        +controlls()
                if hasFullWidth
                    - display = 'single', i = 0
                    each v, key in props
                        if isFullwidthField(v)
                            tr
                                td(colspan=999)
                                    .rg-subtitle !{v.description ? marked.inlineLexer(v.description, []) : sentenceCase(key)}
                                    +component(v, i)
                        - ++i

        if hasNormalFields
            thead(ref="tableHeader")
                tr
                    each v, key in props
                        if isNormalField(v)
                            th !{v.description ? marked.inlineLexer(v.description, []) : sentenceCase(key)}
                    if can.CHANGE || can.DELETE
                        td.rg-data__small-cell
                            el-button-group(v-if="values.length>1")
                                if can.CHANGE
                                    el-button(
                                        :disabled="!hasUnsaved"

                                        @click="saveAll" 
                                        type="primary" 
                                        icon="el-icon-check" 

                                        circle=can.DELETE
                                        round=!can.DELETE
                                    )
                                if can.DELETE
                                    el-button(                                         
                                        @click="removeAll" 
                                        type="danger" 
                                        icon="el-icon-delete"

                                        circle=can.CHANGE
                                        round=!can.CHANGE
                                    )
                            
    .rg-spacer
    if can.PUT
        .rg-controlls-panel
            .rg-spacer
            el-button(@click="add" type="primary" round icon="el-icon-plus") New