.monaco-editor-container {
    position: relative;

    flex-grow: 1;

    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;

    border: 0;
    background-color: #282c34;
}

.monaco-editor {
    position: absolute !important;

    box-sizing: border-box;
}