<template>
    <p class="monaco-editor-container" :style="{ height: fullscreen ? '100%' : linesCount * 16 + 20 + 'px' }" ref="playground"></p>
</template>

<script src="./monaco.ts" lang="ts"></script>