extends submitform.pug

block vars
    - const title = 'Login'

block fields
    +emailField
    +passwordField
    .form-group
        a(href="resetpass" style="width:100%;text-align:center;display:inline-block;text-decoration:none;") Forgot password?
